h1 {	color:blue;
	text-align:center;
}
h2 {
	color:	blue;
	text-align:left;
}
p {font-family:arial;
font-size:15px;
color:purple
}
ul {font-family:century schoolbook;
font-size:15px;
color:purple;
}
body{background-image: url(pelangi.jpg)
}


img{border-radius: 35%}